@import "../../resources/colors.scss";

.background {
  background-color: $background-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 3rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card p {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 400;
  color: $background-color;
}

.card input {
  border: 1px solid black;

  &:hover {
    border: 1px solid black;
  }
}

.loginButton {
  background-color: $background-color;
  color: white;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.loginButton:hover {
  background-color: $primary-color;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.linkButton {
  background: none;
  border: none;
  color: $background-color;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  outline: none;
}

.linkButton:hover {
  background: none;
}
