.cardInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 16px;
    width: 346px;
    height: 224px;
    align-items: center;
    text-align: center;
    font-family: 'Inter';
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    .title {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
        margin-top: 2.5rem;
    }

    .value {
        font-size: 1.75rem;
        font-weight: 700;
        margin: 0;
        margin-top: 2rem;
    }
}