@import "../../resources/colors.scss";

.tableContainer {
  min-width: 500px;
  width: 100%;
  margin: 0 auto;
  color: white;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;

  th,
  td {
    border-left: 1px solid #ccc;
    padding: 0.75rem;
    text-align: center;
  }

  th:first-child,
  td:first-child {
    border-left: none;
  }

  th {
    font-size: 1.5rem; // 24px
    font-weight: 600;
  }

  td {
    font-size: 1rem; // 16px
  }

  thead tr {
    background-color: $primary-color;
  }

  tbody tr:nth-child(odd) {
    background-color: $secondary-color;
  }

  tbody tr:nth-child(even) {
    background-color: $primary-color;
  }

  .empty {
    text-align: center;
    font-style: italic;
    color: #777;
  }
}

.boldRow td {
  font-weight: 600;
}

.regularRow td {
  font-weight: 400;
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  svg {
    color: #fff;
  }
}

.in {
  color: #22c55e;
}

.out {
  color: #ef4444;
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    min-width: 140px;
  }
}

.iconCell {
  text-align: center;
}


@media (max-width: 768px) {
  .tableContainer {
    min-width: 0;
    width: 100%;
  }
}